<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hebei</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminservlet</display-name>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>com.adminservlet.Adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/admin/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Xuqiuservlet</display-name>
    <servlet-name>Xuqiuservlet</servlet-name>
    <servlet-class>com.user.servlet.Xuqiuservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xuqiuservlet</servlet-name>
    <url-pattern>/admin/xuqiuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.user.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/user/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanxianservlet</display-name>
    <servlet-name>Quanxianservlet</servlet-name>
    <servlet-class>com.user.servlet.Quanxianservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanxianservlet</servlet-name>
    <url-pattern>/user/quanxianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Needsearchservlet</display-name>
    <servlet-name>Needsearchservlet</servlet-name>
    <servlet-class>com.adminservlet.Needsearchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Needsearchservlet</servlet-name>
    <url-pattern>/admin/needsearchServlet</url-pattern>
  </servlet-mapping>
</web-app>